.paralax {
  height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center 80%;

  @include tablet {
    background-attachment: scroll;
  }
}
