body {
    overflow-x: hidden;
    background: #fbfbfb;
}

.section-title {
    margin-bottom: 0;

    h2 {
        padding-top: 35px;
        padding-bottom: 20px;
        margin: 0;
    }
    
    p {
        line-height: 28px;
    }
}